<div class="flex items-center justify-between">
  <h2 class="uppercase">All Users</h2>
  <a href="/contacts/create" class="py-2.5 px-4 bg-gray-800 text-white uppercase rounded">New Contact</a>
  
</div>

{{#if contactCreated}}
  <div class="mt-4 mb-6 py-5 px-4 bg-green-100 text-green-700 rounded text-sm">{{contactCreated}}</div>
{{/if}}

{{#if contactUpdated}}
  <div class="mt-4 mb-6 py-5 px-4 bg-blue-100 text-blue-700 rounded text-sm">{{ contactUpdated }}</div>
{{/if}}

{{#if contactDeleted}}
  <div class="mt-4 mb-6 py-5 px-4 bg-red-100 text-red-700 rounded text-sm">{{ contactDeleted }}</div>
{{/if}}

{{#if confirmDelete}}
  <div class="mt-4 mb-6 py-5 px-4 bg-red-100 text-red-700 rounded text-sm">{{ confirmDelete }}
    <div class="flex items-center gap-x-4">
      <a href="/contacts">No</a>
       <form action="/contacts/{{contactId}}?_method=Delete" method="POST">
        <button>Yes Continue</button> 
      </form>
    </div>
  </div>
{{/if}}

<div class="mt-8 bg-white">
  <div class="shadow-md rounded-sm overflow-hidden">
  <table class="w-full">
    <thead class="uppercase text-sm font-medium text-gray-500">
      <tr>
        <td class="py-2.5 px-4">Name</td>
        <td class="py-2.5 px-4">Email</td>
        <td class="py-2.5 px-4">Role</td>
        <td class="py-2.5 px-4">Actions</td>
      </tr>
    </thead>

    <tbody class="text-gray-600">
      {{#each users}}
      <tr>
        <td class="py-2.5 px-4">
          {{ name }}
        </td>
        <td class="py-2.5 px-4">
          {{ email }}
        </td>
        <td class="py-2.5 px-4">
          Admin
        </td>
       
        <td>
          <div class="flex items-center space-x-3">
            <a href="/users/{{id}}/edit">Edit</a>
            <a href="/users/{{id}}/confirm-delete">
             Delete 
            </a>
           
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>