<div class="flex items-center justify-between">
  <h2 class="uppercase">Create User</h2>
  <a href="/users" class="btn-primary uppercase">Back</a>
</div>


<div class="mt-8">
  <div class="max-w-2xl w-full mx-auto text-gray-500">
  {{#if hasErrors}}
    <div class="mt-4 mb-6 py-5 px-4 bg-red-100 text-red-500 rounded text-sm">The Form has Errors!!</div>
  {{/if}}
  <div class="py-4 px-6 shadow-lg rounded bg-white overflow-hidden w-full">
    <form action="/contacts" method="post">
      <div class="space-y-5">
      <div>
        <label for="name" class="block mb-1">Name</label>
        <input type="text" name="name" id="name" class="block w-full border border-gray-400 rounded leading-7" value="{{old.name}}">
         {{#if errors.name}}
          <span class="text-sm text-red-400 block mt-1">{{errors.name}}</span>
         {{/if}}
      </div>
      <div>
        <label for="phone" class="block mb-1">Phone</label>
        <input type="text" name="phone" id="phone" class="block w-full border border-gray-400 rounded leading-7" value="{{old.phone}}">
         {{#if errors.phone}}
          <span class="text-sm text-red-400 block mt-1">{{ errors.phone }}</span>
         {{/if}}
         
      </div>
      <div>
        <label for="email" class="block mb-1">Email</label>
        <input type="email" name="email" id="email" class="block w-full border border-gray-400 rounded leading-7" value="{{old.email}}">
         {{#if errors.email}}
          <span class="text-sm text-red-400 block mt-1">{{errors.email}}</span>
         {{/if}}
      </div>
      <div>
        <label for="address" class="block mb-1">Address</label>
        <textarea  name="address" id="address" rows="2" cols="10" class="block w-full border border-gray-400 rounded leading-7">{{old.address}}</textarea>
         {{#if errors.address}}
          <span class="text-sm text-red-400 block mt-1">{{errors.address}}</span>
         {{/if}}
      </div>
      </div>

      <div class="py-3 flex justify-end items-center space-x-4 mt-8">
        <button class="py-2.5 px-5 rounded bg-gray-100 text-gray-600 font-semibold">Reset</button>
        <button class="btn-primary font-semibold">Save</button>
      </div>
    </form>
    </div>
  </div>

</div>